{% extends "base.html" %}
{% load staticfiles %}

{% block all-main %}

  <div id="view-wrap">
    <div id="view" class="img-series">
          <!-- <img src="{% static "img/avatar.jpg" %}" alt="Picture of avatar" /> -->
    </div>

    <div id="under-view">
      <div id="under-view-left">
      </div>
<!--       <div id="under-view-left">
      </div> -->
    </div>
  </div>

    <div id="wrapper">
      <div id="info-block" class="height1">
        <div class="ser-title">Добро пожаловать!</div>
        <div class="padtop4"></div>
        <div id="login_block">

          <h2>Your login details are invalid!</h2>
          <p>Click <a href="/accounts/login/">here</a> to login again.</p>

        </div>
      </div>
    </div>
{% endblock all-main %}



{% block underground %}
{% endblock %}
