h1 {
  color: #000;
}

h2 {
  color: #333;
}

.section, .item {
  padding: 0px 15px;
}`

.item {
  background-color: #dcf0f7;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  padding: 5px 15px;
}

.helptext {
  color: #999;
  padding-left: 10px;
}

a.delete:hover {
  color: red;
}
