
/*========== Content block (Manual Section)   ==========*/

.left-main {
  border-right:  2px solid #ccc;
  margin-bottom: 10px;
}

.left-main h1 { 
  font-size: 1.7em;
  font-style: italic;
  color: #0B7075;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;

}

.left-main h2,
.titulpage_title h2 {
  font-size: 3.0em;
  color: #904c3f;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.titulpage p {
  text-align: center;
}

.home_hor hr {
  /*text-align: center;*/
  /*width: 500px;*/
  /*color: white;*/
  /*color: red;*/
  /*height: 2px;*/
}

hr {
  text-align: center;
  /*width: 500px;*/
  /*height: 12px !important;*/
  /*color: white;*/
  color: red !important;
}

.left-main h3 { 
  font-size: 2.4em;
  color: #5C5959;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.NARR img {
  border: 2px solid #ccc;
  width: 90%;
  max-width: 250px;
}

.WIDE {
  padding: 0;
}

.WIDE img {
  width: 100%;
}

.PARA, .HINT {
  display: none;
}

.edit-form textarea {
  width: 100%;
  height: 120px;
}

.edit-form label {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
}

hr {
  border: none; /* no border  */
  background-color: grey; /* line color */
  color: grey; /* line color for IE6-7 */
  height: 2px; /* line height */
}

.delete-row {
  display: none;
}

.add-row {
  font-size: 1.5em;
  color: #5d6e6f;
  border: 2px solid grey;
  padding: 0 10px 0 10px;
  margin-top: 10px;
  border-radius: 5px;
}


.manual-img .img-box {
  text-align: center;
  padding-left: 0;
}

.description {
  font-size: 1.5em;
}

.signature {
  font-size: 1.4em;
  padding-top: 3px;
}

.signature-box {
  padding-left: 5px; 
}

.hint {
  font-size: 1.4em;
  font-style: italic; 
}

.description, .signature, .hint {
  padding-bottom: 10px;
}

.under_construction img {
  max-width: 117%;
  margin: 0px 0 0 -100px;
}

.mini_tab, .mini_tab2 {
    width: 100%;
    padding: 7px 0 3px 0;
    margin: 0;
    font-size: 15px;
    color: #333333;
    border: 0;
}

.mini_tab2 {
  font-weight: 500;
}

.crud-form input[type=number] { 
    width:60px;
    color: red;
}



/*========== Page navigator line   ==========*/

.hierarchy {
  font-size: 1.4em;
  color: #5d6e6f;
  padding: 0 0 0 20px;
}

.page-navigator {
  font-size: 1.4em;
  text-align: right;
  color: #5d6e6f;
}

.page-navigator a {
}

.page-navigator a:hover {
  color: #904c3f;
}

.page-navigator li {
  list-style-type: none;
}

.page-navigator ul {
  margin: 0 10px 0 0; /* Отступ в браузере IE и Opera */
  padding: 0 10px 0 0; /* Отступ в браузере Firefox, Safari, Chrome */
}


.page-head {
  
}



/*==========  Additional block  ==========*/

.advert {
  float: right;
  margin: 0;
  width: 245px;
  padding: 20px 5px;
}

.subscribe {
  font-size: 1.4em;
  text-align: right;
  padding: 20px 5px 10px 0;
}

.additional .row {
  text-align: right;
}

/*==========  Titul Page  ==========*/

.titulpage_title h1 {
  font-size: 2.0em;
}

#manual_map_title{
  padding-left: 80px;
  font-size: 2.0em;
    z-index: 10000000 !important;

}

.manual_map{
  padding: 20px 0;
}

.manual_map ul{
  padding: 0 0 0 10px;
}

.invisible {
  visibility: hidden;
}

.manual_map li {
  list-style-type: none;
}

.manual_map li a {
  font-size: 20px;
  line-height: 20px;
}
.manual_map li span {
  color: #428bca;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.search_results li {
  color: #428bca;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  padding: 10px 0 0 0;

}

.query span {
  font-size: 18px;
  padding: 10px 0 0 20px;

}

.cold_link {
  text-decoration: none;
}

.shift_80 {
  margin-left: 80px;
}

.advert-720-img {
  padding: 20px 0 20px 20px;
  
}
.advert-720-img img {
  border: 2px solid grey;
  width: 100%;
  max-width: 720px;
  text-align: left;
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
}

.left-main .advert-720-img img {
  margin-left: 0;
}


/*==========  @media for whole body (Non-Mobile First Method)  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .titulpage {
    padding: 10px 80px 10px 80px;
  }
  .manual_map ul{
    padding-left: 40px;
  }
  .advert-720-img img {
    margin-left: 80px;
  }


}

/* Large Devices, Wide Screens */
/*@media only screen and (max-width : 1200px) {
}*/

/* Medium Devices, Desktops - 2 columns */
@media only screen and (max-width : 992px) {
  .leftimg {
    float:left; 
    padding-left: 10px;
   }
  .hierarchy {
    font-size: 1.2em;
  } 
  .navigator-but-name {
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 768px) {
  .leftimg {
    float:left; 
    padding-left: 5px;
   }
  .additional .row {
    text-align: left;
}
  .advert {
    float: left;
  .titulpage {
    padding: 0 !important;
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 460px) {
}






