@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body{
  background-color: #fbf7e7;
  /*background: white url(../img/something.jpg) no-repeat right bottom;*/
  color: #1D1C1C;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  position: relative;
  overflow-x: auto;
  padding: 80px 0 60px 0;
}

.wrapper {
  display: table;
  height: 100%;
}


.main {
  min-height: 500px;
}


/*.content {
  display: table-row;
  height: 100%;
}*/

.content {
  margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.9em;
  padding: 10px 0 20px 0;
  color: #904c3f;
}
h2 {
  color: #5d6e6f;
}

.green {
  color: green;
}
.blue {
  color: blue;
}
.red {
  color: red;
}


/*==========  Footer  ==========*/

#footer {
  width: 100%
}

#footer .row {
  margin-right: 0;
  padding-left: 15px;
}
.footer-wrapper {
  font-size: 1.2em;
  font-weight: 300;
  color: white; 
  background-color: #904c3f;
  padding-top: 10px;
  margin-bottom: -30px;
}

.footer-wrapper a {
  color: yellow; 
}

.footer-wrapper a:hover {
  color: yellow; 
  font-weight: 500;
}

.right {
  text-align: right;
}

/*==========  @media for whole body (Non-Mobile First Method)  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container {
      width: 1170px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .container {
      width: 970px;
  }
}

/* Medium Devices, Desktops - 2 columns */
@media only screen and (max-width : 992px) {
  .container {
      width: 740px;
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 768px) {
  .container {
      width: 100%;
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 460px) {
  .container {
      /*width: 100%;*/
  }
}


