{% extends "admin/base.html" %}


{% block title %}{{title}} | Волшебные спицы {% endblock title %}

{% block extrastyle %} 

<style>
    #header {
        background-color: #0588CC;
        color: #cfcc72;
    }
</style>


{% endblock extrastyle %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Волшебные спицы</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
