{% extends 'base.html' %}
{% load staticfiles %}

{% block all-main %}



<h1 id="manual_map_title">
    <a href="/man_contents">Учимся вязать - режим администратора </a>
</h1>


<!-- Contents of the Manual -->
<div id="" class="manual_map">
  {% if chapters %}
    <ul id="" class="row">
      <li><a href="chapter_add/"><i class="glyphicon glyphicon-plus green"></i>Добавить новую главу</a></li>
      {% for chapter in chapters %}

              <!-- Display Chapter name -->
        <li>
          <a href="/section_add/{{ chapter.id }}"><i class="glyphicon glyphicon-plus green"></i></a>
          <a href="chapter_edit/{{ chapter.id }}"><i class="glyphicon glyphicon-edit blue"></i> </a>
          <a href="chapter_delete/{{ chapter.id }}"><i class="glyphicon glyphicon-remove red" onclick="return confirm('Подтвердите удаление главы __{{ chapter.name }}__')"></i></a>
          <span>{{ chapter.order_num }}.  {{ chapter.name }}</span>

          {% if sections %}
            <ul id="" class="">
            {% for section in sections %}
              {% if section.chapter == chapter %}

                <!-- Display Section name -->
                <li>
                  <a href="subsection_add/{{ section.id }}"><i class="glyphicon glyphicon-plus green"></i> </a>
                  <a href="section_edit/{{ section.id }}"><i class="glyphicon glyphicon-edit blue"></i> </a>
                  <a href="section_delete/{{ section.id }}"><i class="glyphicon glyphicon-remove red" onclick="return confirm('Подтвердите удаление раздела __{{ section.name }}__')"></i></a>
                  <span>{{ chapter.order_num }}.{{ section.order_num }}.  {{ section.name }}</span>

                  {% if subsections %}
                    <ul id="" class="">
                    {% for subsection in subsections %}
                      {% if subsection.section == section %}

                        <!-- Display Subection name -->
                        <li>
                            <span ><i class="glyphicon glyphicon-plus grey invisible"></i> </span>
                            <a href="subsection_edit/{{ subsection.id }}"><i class="glyphicon glyphicon-edit blue"></i> </a>
                            <a href="subsection_delete/{{ subsection.id }}"><i class="glyphicon glyphicon-remove red" onclick="return confirm('Подтвердите удаление подраздела __{{ subsection.name }}__')"></i> </a>
                            <a href="/subsection/{{ subsection.id }}">{{ chapter.order_num }}.{{ section.order_num }}.{{ subsection.order_num }}.   {{ subsection.name }}</a>
                        </li>

                      {% endif %}
                    {% endfor %}
                    </ul>
                  {% endif %}
                </li>

              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        </li>

      {% endfor %}
    </ul>
  {% else %}
    <ul id="" class="row">
    <p>По запросу ничего не найдено</p>
      <li><a href="chapter_add/"><i class="glyphicon glyphicon-plus green"></i>Добавить новую главу</a></li>
  {% endif %}
</div>

{% endblock all-main %}


=========================================================================



---------------------------------------------------------------------


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<div class="just-padding">


  {% if chapters %}

<div class="list-group list-group-root well">
  
  <a href="#item-1" class="list-group-item" data-toggle="collapse">
    <i class="glyphicon glyphicon-chevron-right"></i>Item 1
  </a>
  <div class="list-group collapse" id="item-1">
    
    <a href="#item-1-1" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 1.1
    </a>
    <div class="list-group collapse" id="item-1-1">
      <a href="#" class="list-group-item">Item 1.1.1</a>
      <a href="#" class="list-group-item">Item 1.1.2</a>
      <a href="#" class="list-group-item">Item 1.1.3</a>
    </div>
    
    <a href="#item-1-2" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 1.2
    </a>
    <div class="list-group collapse" id="item-1-2">
      <a href="#" class="list-group-item">Item 1.2.1</a>
      <a href="#" class="list-group-item">Item 1.2.2</a>
      <a href="#" class="list-group-item">Item 1.2.3</a>
    </div>
    
    <a href="#item-1-3" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 1.3
    </a>
    <div class="list-group collapse" id="item-1-3">
      <a href="#" class="list-group-item">Item 1.3.1</a>
      <a href="#" class="list-group-item">Item 1.3.2</a>
      <a href="#" class="list-group-item">Item 1.3.3</a>
    </div>
    
  </div>
  
  <a href="#item-2" class="list-group-item" data-toggle="collapse">
    <i class="glyphicon glyphicon-chevron-right"></i>Item 2
  </a>
  <div class="list-group collapse" id="item-2">
    
    <a href="#item-2-1" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 2.1
    </a>
    <div class="list-group collapse" id="item-2-1">
      <a href="#" class="list-group-item">Item 2.1.1</a>
      <a href="#" class="list-group-item">Item 2.1.2</a>
      <a href="#" class="list-group-item">Item 2.1.3</a>
    </div>
    
    <a href="#item-2-2" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 2.2
    </a>
    <div class="list-group collapse" id="item-2-2">
      <a href="#" class="list-group-item">Item 2.2.1</a>
      <a href="#" class="list-group-item">Item 2.2.2</a>
      <a href="#" class="list-group-item">Item 2.2.3</a>
    </div>
    
    <a href="#item-2-3" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 2.3
    </a>
    <div class="list-group collapse" id="item-2-3">
      <a href="#" class="list-group-item">Item 2.3.1</a>
      <a href="#" class="list-group-item">Item 2.3.2</a>
      <a href="#" class="list-group-item">Item 2.3.3</a>
    </div>
    
  </div>
  
  
  <a href="#item-3" class="list-group-item" data-toggle="collapse">
    <i class="glyphicon glyphicon-chevron-right"></i>Item 3
  </a>
  <div class="list-group collapse" id="item-3">
    
    <a href="#item-3-1" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 3.1
    </a>
    <div class="list-group collapse" id="item-3-1">
      <a href="#" class="list-group-item">Item 3.1.1</a>
      <a href="#" class="list-group-item">Item 3.1.2</a>
      <a href="#" class="list-group-item">Item 3.1.3</a>
    </div>
    
    <a href="#item-3-2" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 3.2
    </a>
    <div class="list-group collapse" id="item-3-2">
      <a href="#" class="list-group-item">Item 3.2.1</a>
      <a href="#" class="list-group-item">Item 3.2.2</a>
      <a href="#" class="list-group-item">Item 3.2.3</a>
    </div>
    
    <a href="#item-3-3" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>Item 3.3
    </a>
    <div class="list-group collapse" id="item-3-3">
      <a href="#" class="list-group-item">Item 3.3.1</a>
      <a href="#" class="list-group-item">Item 3.3.2</a>
      <a href="#" class="list-group-item">Item 3.3.3</a>
    </div>
    
  </div>
  
</div>
  
  {% else %}
    <p>По запросу ничего не найдено</p>
  {% endif %}
  
</div> -->

<!-- ========================================================== -->



<!--         <dl class="dl-horizontal">
          <dt>one...</dt>
          <dd>two...</dd>
          <dd>three...</dd>
          <dt>four...</dt>
        </dl> -->


<!-- <ul class="list-group">
    <li class="list-group-item">One</li>
    <li class="list-group-item">Two
        <ul class="list-group">
            <li class="list-group-item">Item 2a</li>
            <li class="list-group-item">Item 2b</li>
        </ul>
    </li>
    <li class="list-group-item">Three
        <ul class="list-group">
            <li class="list-group-item">Item 3a</li>
            <li class="list-group-item">Item 3b</li>
        </ul>
    </li>
</ul> -->


<!--  <div class="list-group">
  <a href="#" class="list-group-item">First item<span class="badge">12</span></a>
  <a href="#" class="list-group-item">Second item</a>
  <a href="#" class="list-group-item">Third item</a>
</div>

 <ul class="list-group">
  <li class="list-group-item">New <span class="badge">12</span></li>
  <li class="list-group-item">Deleted <span class="badge">5</span></li>
  <li class="list-group-item">Warnings <span class="badge">3</span></li>
</ul>
 -->

