{% extends 'base.html' %}
{% load staticfiles %}

{% block in_head %}
{% endblock in_head %}

{% block all-main %}
    <div>
        <div class="row">
        <h3>{{ page_name }}</h3>
            <div class="col-md-1 col-sm-3 col-xs-12">
            </div>
        </div>

        <form id="data" class="crud-form chapter_edit" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {% if is_editor %}
                    <dir class="mini_tab">ID раздела: {{ chapter_id }}</dir>
                {% endif %}

                {{ section_form.management_form }}
                {{ section_form.non_form_errors }}

            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <dir class="mini_tab2">Номер раздела:</dir> 
                    {{ section_form.order_num.errors }}
                    {{ section_form.order_num }} 
                </div>

                <div class="col-md-5 col-sm-3 col-xs-12">
                    <dir class="mini_tab2">Название раздела:</dir> 
                    {{ section_form.name.errors }}
                    {{ section_form.name }}
                </div>

                <div hidden>
                    {{ section_form.chapter.errors }}
                    {{ section_form.chapter.label_tag }}
                    {{ section_form.chapter }}
                </div>
            </div>

                <br>
                <br>

            <div class="row">
                <div class="col-md-1 col-sm-3 col-xs-12">
                    <input class="submit btn btn-success" type="submit" value="Сохранить"/>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <a href="/man_contents" class="btn btn-warning">Возврат в каталог без сохранения</a>
                </div>
            </div>

        </form>
    </div>


{% endblock all-main %}
