{% extends 'base.html' %}
{% load staticfiles %}

{% block in_head %}
{% endblock in_head %}

{% block all-main %}
    <div>
        <div class="row">
        <h3>Создание подраздела</h3>
            <div class="col-md-1 col-sm-3 col-xs-12">
            </div>
        </div>

        <form id="data" class="crud-form " action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {% if is_editor %}
                    <dir class="mini_tab">ID подраздела: {{ subsection_id }}</dir>
                {% endif %}

                <dir class="mini_tab">Глава {{ chapter.order_num }}. {{ chapter }}<br>
                Раздел {{ section.order_num }}. {{ section.name }}</dir>


                {{ section_form.management_form }}
                {{ section_form.non_form_errors }}

            <div class="section_edit row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <dir class="mini_tab2">Номер подраздела:</dir> 
                    {{ subsection_form.order_num.errors }}
                    {{ subsection_form.order_num }} 
                </div>

                <div class="col-md-5 col-sm-3 col-xs-12">
                    <dir class="mini_tab2">Название подраздела:</dir> 
                    {{ subsection_form.name.errors }}
                    {{ subsection_form.name }}
                </div>

                <div hidden>
                    {{ subsection_form.chapter.errors }}
                    {{ subsection_form.chapter.label_tag }}
                    {{ subsection_form.chapter }}

                    {{ subsection_form.section.errors }}
                    {{ subsection_form.section.label_tag }}
                    {{ subsection_form.section }}
                </div>
            </div>

                <br>
                <br>

            <div class="row">
                <div class="col-md-1 col-sm-3 col-xs-12">
                    <input class="submit btn btn-success" type="submit" value="Сохранить"/>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <a href="/man_contents" class="btn btn-warning">Возврат в каталог без сохранения</a>
                </div>
            </div>

        </form>
    </div>


{% endblock all-main %}
