{% extends 'base.html' %}
{% load staticfiles %}

{% block in_head %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            $(".inline.{{ formset.prefix }}").formset({
                prefix: "{{ formset.prefix }}",
            })
        })
    </script>
{% endblock in_head %}

{% block all-main %}
    <div>
        <div class="row">
            <h3 class="col-md-4 col-sm-3 col-xs-12">Редактирование подраздела</h3>
            <div class="col-md-1 col-sm-3 col-xs-12">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <input form="data" class="submit btn btn-success" type="submit" value="Сохранить"/>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="/man_contents" class="btn btn-warning">Возврат в каталог без сохранения</a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <a href="/subsection/{{subsection_id}}" class="btn btn-primary">Посмотреть страницу</a>
            </div>
        </div>

        <form id="data" class="crud-form" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>

                {% if is_editor %}
                    <dir class="mini_tab">ID подраздела: {{ subsection_id }}</dir>
                {% endif %}

                <dir class="mini_tab">Глава {{ chapter.order_num }}. {{ chapter }}<br>
                Раздел {{ section.order_num }}. {{ section.name }}</dir>

                {{ subsection_form.management_form }}
                {{ subsection_form.non_form_errors }}

            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <dir class="mini_tab2">Номер подраздела:</dir> 
                    {{ subsection_form.order_num.errors }}
                    {{ subsection_form.order_num }} 
                </div>

                <div class="col-md-5 col-sm-3 col-xs-12">
                    <dir class="mini_tab2">Название подраздела:</dir> 
                    {{ subsection_form.name.errors }}
                    {{ subsection_form.name }}
                </div>

                <div hidden>
                    {{ subsection_form.chapter.errors }}
                    {{ subsection_form.chapter.label_tag }}
                    {{ subsection_form.chapter }}

                    {{ subsection_form.section.errors }}
                    {{ subsection_form.section.label_tag }}
                    {{ subsection_form.section }}
                </div>
            </div>

                <br>
                <br>

                <!-- {{ subsection_form.as_p }} -->
            </div>
            <fieldset class="row">
                <legend>Редактирование элементов подраздела</legend>

                {{ formset.management_form }}
                {{ formset.non_form_errors }}
                {% for element_form in formset %}
                    element_id = {{ element_form.id.value }}
                    {{ element_form.management_form }}
                    <div class="edit-form inline {{ formset.prefix }} row">
                        
                        <div class="col-md-1 col-sm-3 col-xs-12">
                            {{ element_form.el_type.errors }}
                            {{ element_form.el_type.label_tag }}
                            {{ element_form.el_type }}
                        </div>
                            
                        <div class="col-md-5 col-sm-3 col-xs-12">
                            {{ element_form.text.errors }}
                            {{ element_form.text.label_tag }}<br>
                            {{ element_form.text }}
                        </div>
                            
                        <div class="col-md-1 col-sm-3 col-xs-12">
                            {{ element_form.row.errors }}
                            {{ element_form.row.label_tag }}
                            {{ element_form.row }}

                            {{ element_form.column.errors }}
                            {{ element_form.column.label_tag }}
                            {{ element_form.column }}

                            {{ element_form.position.errors }}
                            {{ element_form.position.label_tag }}
                            {{ element_form.position }}
                        </div>
                            
                        <div class="col-md-1 col-sm-3 col-xs-12">
                        </div>

                        <div class="col-md-1 col-sm-3 col-xs-12  {{ element_form.el_type.value }}">
                            {{ element_form.image_num.errors }}
                            {{ element_form.image_num.label_tag }}
                            {{ element_form.image_num }}

                            {{ element_form.im_type.errors }}
                            {{ element_form.im_type.label_tag }}
                            {{ element_form.im_type }}
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12 {{ element_form.el_type.value }}" >
                            {{ element_form.image.errors }}
                            {{ element_form.image.label_tag }}
                            {{ element_form.image }}
                            {{ element_form.el_type.value }}
                        </div>
                            

                        {% if element_form.id.value %}
                        <div class="col-md-1 col-sm-3 col-xs-12">
                            <a class="red" href="/element_delete/{{ element_form.initial.id }}">
                            <i class="glyphicon glyphicon-remove red" onclick="return confirm('Подтвердите удаление главы __{{ element_form.name }}__')">_Удалить</i> 
                            </a>
                        </div>
                        {% endif %}

                        <div hidden class="col-md-1 col-sm-3 col-xs-12">
                            element_form.id = {{ element_form.id }}

                            {{ element_form.chapter.errors }}
                            {{ element_form.chapter.label_tag }}
                            {{ element_form.chapter }}

                            {{ element_form.section.errors }}
                            {{ element_form.section.label_tag }}
                            {{ element_form.section }}
                        </div>
                    </div>
<hr/>
                {% endfor %}
            </fieldset>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <input class="submit btn btn-success" type="submit" value="Сохранить"/>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <a href="/man_contents" class="btn btn-warning">Возврат в каталог без сохранения</a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <a href="/subsection/{{subsection_id}}" class="btn btn-primary">Посмотреть страницу</a>
                </div>
            </div>
<br>

                
        </form>
    </div>


{% endblock all-main %}
