<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
{% load static %}
<html>
<head>
  <title>Волшебные спицы - секреты вязания спицами</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
  <meta name="Keywords" content="Школа вязания. Вязание спицами для начинающих с нуля. Подробное описание методов набора петель. Советы по технике вязания. Принадлежности для вязания. Пряжа. Азбука вязания. Секреты вязания деталей и узоров. Углубить своё мастерство вязания. Лицевые и изнаночные петли. Патентная вязка. Узоры спицами. Убавление и прибавление петель." />
  <meta name="Description" content="Погрузитесь в секреты древнего искусства вязания спицами!" />

  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="{% static 'js/modernizr.js' %}"></script>

  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}">   -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <!-- CSS reset-->
  <!-- <link rel="stylesheet" href="{% static 'css/reset.css' %}">   -->
  <link rel="stylesheet" href="{% static 'css/singin-modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav-colorstyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/main-block.css' %}">
  <link rel="stylesheet" href="{% static 'css/addsec-style.css' %}">


  
  <script src="{% static 'js/singin-modal.js' %}"></script>
  <script src="{% static 'js/search-slider.js' %}"></script>

{% block in_head %}{% endblock in_head %}

<!-- Google. Analitic -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91053616-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- /Google. Analitic -->
</head>
<body>
<div wrapper container>

  <!--==== Header with Navigation included ====-->
{% include "incl_header_navigation.html" %}
 
  <!--==== Main Container ====-->
  <div class="main container">

    <!--==== Main and additional content row ====-->
    <div class="main-row main-main row">

      <!--==== Main content block ====-->
      {% if fullsize %}
        <div class="left-main page-content col-md-12 col-sm-12 col-xs-12 ">
      {% else %}
        <div class="left-main page-content col-md-9 col-sm-8 col-xs-12"
      {% endif %}

  <!--==== Advertisement on Top Row included ====-->
{% include "incl_advert_ontop_row.html" %}

{% block all-main %}{% endblock all-main %} 
      </div>      
      <!--==== Additional content block ====-->
      <div class="additional col-md-3 col-sm-4 col-xs-12 {{tohide}}">
{% include "incl_additional.html" %}
      </div>      
    </div>

    <!--==== all  rows and blocks of Main Container  ====-->
<!-- {% block startpage %}{% endblock startpage %} -->


  </div>  <!-- main container -->

  <!--======================== Footer ========================-->
  <div id="footer">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <!-- <p>Call us toll-free at <span class="phone">800-888-8888</span></p> -->
          <p>&copy; <a href="http://nuevavida.ga">Studio "NuevaVida"</a>. Code licensed under <a href="http://opensource.org/licenses/mit-license.html">MIT License</a>.</p>    
        </div><!-- col-sm-6 -->

        <div class="col-sm-6 right">
           <!--LiveInternet counter--><script type="text/javascript">
          document.write("<a href='//www.liveinternet.ru/click' "+
          "target=_blank><img src='//counter.yadro.ru/hit?t11.6;r"+
          escape(document.referrer)+((typeof(screen)=="undefined")?"":
          ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
          screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
          ";"+Math.random()+
          "' alt='' title='LiveInternet: number of pageviews for 24 hours,"+
          " of visitors for 24 hours and for today is shown' "+
          "border='0' width='88' height='31'><\/a>")
          </script><!--/LiveInternet-->

          <!-- Yandex.Metrika informer -->
          <a href="https://metrika.yandex.ru/stat/?id=42407029&amp;from=informer"
          target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/42407029/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
          style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="42407029" data-lang="ru" /></a>
          <!-- /Yandex.Metrika informer -->

          <!-- Yandex.Metrika counter -->
          <script type="text/javascript">
              (function (d, w, c) {
                  (w[c] = w[c] || []).push(function() {
                      try {
                          w.yaCounter42407029 = new Ya.Metrika({
                              id:42407029,
                              clickmap:true,
                              trackLinks:true,
                              accurateTrackBounce:true
                          });
                      } catch(e) { }
                  });

                  var n = d.getElementsByTagName("script")[0],
                      s = d.createElement("script"),
                      f = function () { n.parentNode.insertBefore(s, n); };
                  s.type = "text/javascript";
                  s.async = true;
                  s.src = "https://mc.yandex.ru/metrika/watch.js";

                  if (w.opera == "[object Opera]") {
                      d.addEventListener("DOMContentLoaded", f, false);
                  } else { f(); }
              })(document, window, "yandex_metrika_callbacks");
          </script>
          <noscript><div><img src="https://mc.yandex.ru/watch/42407029" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
          <!-- /Yandex.Metrika counter -->
        </div><!-- col-sm-6 -->
      
      </div><!-- row -->
    </div><!-- content container -->
  </div><!-- footer -->


</div> <!-- wrapper container -->
</body>
</html>


