  <!--==== Submenu Row included ====-->
    <div class="main-row submenu-page row">

      <div class="hierarchy col-md-12 col-sm-9 col-xs-12">
        <span class="icon-bar"><a href="/">
            <span class="icon-bar glyphicon glyphicon-home"></span></a> >>
        </span>
        <span class="icon-bar"><a href="/index/#manual_map_title">Учимся вязать</a> >></span>

        <ul class="navbar-right">
          <li class="dropdown navbar-row">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-download-alt">
                
              <!-- </span> -->
              <span class="navigator-but-name">Навигатор раздела
              </span>
              <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>

            <ul class="dropdown-menu">
                {% if subsections %}
                  {% for subsection in subsections %}
                    {% if subsection.section == section %}

                      <!-- Display Subection name -->
                      <li>
                          <a href="/subsection/{{ subsection.id }}">{{ chapter.order_num }}.{{ section.order_num }}.{{ subsection.order_num }}.   {{ subsection.name }}</a>
                      </li>
                      <li class="divider"></li>
                    {% endif %}
                  {% endfor %}
                  <!-- </ul> -->
                {% endif %}
            </ul>
          </li>
        </ul>
      </div> <!-- hierarchy -->
    
    </div> <!-- /.submenu-page row -->
  <!--==== end of Submenu Row ====-->