  <!--==== Advertisement on Top Row ====-->
    <div class="main-row advertisement row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
        </div>
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div> 
  <!--==== end of Advertisement on Top Row ====-->
