  <!--==== Header with Navigation ====-->

{% block in_head %}
  <script type="text/javascript">
     $('document').ready(function() {
        $('.menu li').each(function() {
            if ('http://site.ru'+$(this).attr('href') == window.location.href)
            {
                $(this).addClass('active');
            }
        });
    }); 

   </script>{% endblock in_head %}

  <!--==== SingUp Modal included ====-->
{% include "signinup-modal.html" %}

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container navbar-container">
      <a  href="/"><span  class="brand-link"></span></a>
     
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Search</span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
        
        <a class="navbar-brand" href="/"><p>Волшебные спицы</p></a>

      </div> <!-- /.navbar-header -->

      <!-- Here are nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav    navbar-right">
          <li class="{% if active_tab == 'home' %} active{% endif %}">
            <a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li class="{% if active_tab == 'manual' %} active{% endif %}">
            <a href="/manual_content">Учимся вязать</a></li>
          <li class="{% if active_tab == 'indexpage' %} active{% endif %}">
            <a href="/indexpage">Указатель</a></li>
          <!-- <li class="{% if active_tab == 'notes' %} active{% endif %}">
            <a href="/notes">Заметки</a></li> -->
          <li class="{% if active_tab == 'questions' %} active{% endif %}">
            <a href="/questions"><span class="glyphicon glyphicon glyphicon-question-sign"></span></a></li>
          <!-- <li class="{% if active_tab == 'collection' %} active{% endif %}">
            <a href="/collection">Коллекции</a></li> -->
          <li class="modal-form">


            <div class="login">
              {% if user.is_authenticated %}
                {% if is_editor %}
                  <div><a href="/man_contents">Админ: {{ user.username }} </a></div>
                {% else %}
                  <div><a href="/user_page">Польз: {{ user.username }} </a></div>
                {% endif %}

                  <div><a href="/accounts/logout/">Выйти</a></div>
              {% else %}
                  <div><a href="/accounts/login/">Войти</a></div>
                  <a href="/accounts/register/">Регистрация</a>
              {% endif %}
            </div>
          </li>
        </ul>   

        <form class="navbar-form navbar-right" id="search_form" action="/search/" method="GET" role="search"> 
          <div class="input-group">
            <input id="search_text" name="q" type="text" class="form-control" placeholder="Введите текст..."/>
            <span class="input-group-btn">
              <button type="reset" class="btn btn-default reset-btn">
                <span class="glyphicon glyphicon-remove">
                  <span class="sr-only">Закрыть</span>
                </span>
              </button>
              <button id="search_submit"  type="submit" value="Найти"  class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-search">
                  <span class="sr-only">Найти</span>
                </span>
              </button>
            </span>
          </div> <!-- /.input-group -->
        </form>

      </div><!-- /.collapse navbar-collapse" -->
    </div><!-- /.navbar-container -->


  </div>

  <!--==== end of Header with Navigation ====-->
