{% load staticfiles %}
{% load static %}

<!--==== Additional content block ====-->
    <!-- Right Column Editing -->
  <div class="row">
    {% if is_editor %}
      <!-- <a href="/right_group_creedit/" class="btn btn-primary">Редактировать правую колонку</a> -->
      <a href="/" class="btn btn-primary">Редактировать правую колонку</a>
    {% endif %}
    
  </div>

    <!-- News subscription -->
  <div class="row subscribe">
        <button type="" class="btn btn-default btn-search">
          <span class="">Подписаться на новости >> 
          </span>
          <span class="glyphicon glyphicon-pencil">
            <span class="sr-only">News subscription</span>
          </span>
        </button>
  </div>

  <div class="row">
    <a href="/collection" class="btn btn-primary">Коллекции</a>
  </div>

    <!-- Advertisement -->
  <div class="row">
    <div class="advert">
      <img class="img-rounded"  alt="Advert - right colomn" width="240" src="{% static "img/advert/luz-240x300.png" %}" /> 
    </div><!-- advert -->                  
  </div>
<!--==== end of Additional content block ====-->

