{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block all-main %}

<!--==== Submenu Row included ====-->
<div class="main-row submenu-page row">
  <div class=" titulpage_title col-md-9 col-sm-9 col-xs-12">
    <h2 >Вязание с удовольствием!</h2>
  </div> 
  
<!--       <div id="under-view-left">
        <form id="search_form" action="/search/" method="GET">
            <input id="search_text" type="text" name="q">
            <input id="search_submit" type="submit" value="Найти">
        </form>
      </div> -->



  <div class="page-navigator col-md-3 col-sm-3 col-xs-12">
    <div class="row">            
      <ul class="navbar-right manual_content">
        <li class="dropdown">
          <a href="./#manual_map_title">
            <span class="glyphicon glyphicon-triangle-bottom">
            </span>
            <span class="navigator-but-name">Карта учебника
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
<div class="main-row submenu-page row">
  <!-- {% include "incl_advert_top_720.html" %} -->
</div>


  
<div class="main-row submenu-page row">
  <div class=" titulpage_title col-md-12 col-sm-12 col-xs-12">
    <h1 >Приглашаем всех, кто хочет научиться вязать спицами а также тех, кто хочет развить своё мастерство</h1>
  </div> 



</div> <!-- /.submenu-page row -->
<!--==== end of Submenu Row ====-->

<div class="titulpage">
    
    <p class="description">
Как научиться вязать? С чего начать? На страницах раздела «Азбука вязания» есть вся необходимая информация для начинающих «с нуля» - подробно описаны все важнейшие этапы работы: от различных методов набора петель до закрепления петель.
    </p> 

    <p class="description">
Тем, кто уже умеет вязать, наш портал окажется полезным, поскольку это не просто доступное, подробное пособие, но и одновременно справочник, дающий ответы на множество вопросов, возникающих в процессе вязания. 
    </p> 

    <p class="description">
Здесь вы найдёте страницы о том, как безупречно вывязать такие сложные детали, как бейки и планки, воротники и горловины, карманы и застёжки. Мы рассмотрим многообразные способы вязки.
    </p> 

    <p class="description">
На сайте приво¬дятся полезные советы и примеры для различного уровня мастерства. 
    </p> 

    <p class="description">
Получайте удовольствие от самого процесса вязания. Делая это с радостью, вы передаёте свою радость вашим близким и всем, кто вас окружает.
    </p> 

    <p class="description">
Чудеса в ваших руках!
    </p> 


</div>

<div class="home_hor">
  <!-- <hr class="home_hor" align="center" size="2" color="#ff0000" /> -->
  <hr class="home_hor_www" color="red" />
  
</div>
<br />
<br />
<br />
  <!-- <hr class="home_hor_www" color="red"> -->


<!-- ============================== -->
 
<!-- ============================== -->







<h1 id="manual_map_title">
    <a href="/man_contents">Учимся вязать - от А до Я </a>
</h1> 

<div class="login">
<!--   <div row>
            {% if is_editor %}
              <div class="col-md-3 col-sm-3 col-xs-12">
              </div>
            {% endif %}
    
  </div> -->

  {% if is_editor %}
                  <a href="/man_contents" class="btn btn-primary shift_80">Редактировать учебник</a>
        <!-- <a href="/man_contents">Редактирование контекста</a></br> -->
  {% else %}
      <!-- <a href="">You are not editor</a> -->
  {% endif %}
</div>

<!-- Contents of the Manual -->
<div id="" class="manual_map">

  {% if chapters %}
    <ul id="" class="">
      {% for chapter in chapters %}
              <!-- Display Chapter name -->
          <li><span>{{ chapter.order_num }} . {{ chapter.name }}</span>

          {% if sections %}
            <ul id="" class="">
            {% for section in sections %}
              {% if section.chapter == chapter %}
                <!-- Display Section name -->
                <li><span>{{ chapter.order_num }}.{{ section.order_num }} . {{ section.name }}</span>

                {% if subsections %}
                  <ul id="" class="">
                  {% for subsection in subsections %}
                    {% if subsection.section == section %}
                      <!-- Display Subsection name -->
                      <li><a href="/subsection/{{ subsection.id }}">{{ chapter.order_num }}.{{ section.order_num }}.{{ subsection.order_num }}.   {{ subsection.name }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                {% endif %}

                </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}

          </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>По запросу ничего не найдено</p>
  {% endif %}
</div>
<!-- end of Contents of the Manual -->


<br>
** На многих страницах нашего сайта мы с благодарностью использовали материалы замечательной  книги Катарины Бусс «Волшебные клубки».
<br>





{% endblock all-main %}


