{% extends 'base.html' %}
{% load staticfiles %}

{% block all-main %}

<div class="main-row submenu-page row">
  {% include "incl_advert_top_720.html" %}
</div>



<h1 id="manual_map_title">
    <a href="/man_contents">Указатель</a>
</h1> 

<div class="login">
  {% if is_editor %}
                  <a href="/man_contents" class="btn btn-primary shift_80">Редактировать учебник</a>
  {% endif %}
</div>

<!-- Contents of the Manual -->
<div id="" class="manual_map">

  {% if chapters %}
    <ul id="" class="">
      {% for chapter in chapters %}
              <!-- Display Chapter name -->
          <li><span>{{ chapter.order_num }} . {{ chapter.name }}</span>

          {% if sections %}
            <ul id="" class="">
            {% for section in sections %}
              {% if section.chapter == chapter %}
                <!-- Display Section name -->
                <li><span>{{ chapter.order_num }}.{{ section.order_num }} . {{ section.name }}</span>

                {% if subsections %}
                  <ul id="" class="">
                  {% for subsection in subsections %}
                    {% if subsection.section == section %}
                      <!-- Display Subsection name -->
                      <li><a href="/subsection/{{ subsection.id }}">{{ chapter.order_num }}.{{ section.order_num }}.{{ subsection.order_num }}.   {{ subsection.name }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                {% endif %}

                </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}

          </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>По запросу ничего не найдено</p>
  {% endif %}
</div>
<!-- end of Contents of the Manual -->


{% endblock all-main %}
