{% extends 'base.html' %}
{% load staticfiles %}

{% block all-main %}

<div class="main-row submenu-page row">

  <div class="advert-720-img col-md-9 col-sm-9 col-xs-12">
    <img class="img-rounded" src="{% static "img/advert/728x90.jpg" %}"  alt="Advert">
  </div> <!-- advert-720-img -->



<!-- ================= FORM - additional search form ========================== -->
      <div id="under-view-left" class="col-md-3 col-sm-3 col-xs-12">
        <form id="search_form" action="/search/" method="GET">
            <input id="search_text" type="text" name="q">
            <input id="search_submit" type="submit" value="Найти">
        </form>
      </div>
<!-- ================= /FORM ========================== -->

  
</div>
<div class="row query">
  
  <div class=" titulpage_title col-md-9 col-sm-9 col-xs-12">
    <h1 >Результаты поиска</h1>
    <span class="query">
      По запросу "{{ query_string }}"
    </span>
  </div> 
</div>

<div class="search_results">
  {% if found_entries %}
    <ul id="series-list" class="tab-clear">
      {% for element in found_entries %}
      <div class="tab-left">
        <li><a href="/subsection/{{ element.subsection_id }}">{{ element.text }}</a>
        </li>
      </div>
      {% endfor %}
    </ul>
  {% else %}
      <p>      ничего не найдено</p>
  {% endif %}
</div>
<br>





{% endblock all-main %}


