{% extends 'base.html' %}
{% load staticfiles %}

<!--==== Main content block ====-->
{% block all-main %}

        <div class="page-head row">
          <h1 class="col-md-8 col-sm-9 col-xs-12">
            Глава {{ chapter.order_num }}. {{ chapter.name }}<br> 
            Раздел {{ chapter.order_num }}.{{ section.order_num }}. {{ section.name }}
          </h1>
          <div class="hierarchy col-md-4 col-sm-3 col-xs-12">
            <ul class="navbar-right">
              <li class="dropdown navbar-row">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-download-alt">
                    
                  <!-- </span> -->
                  <span class="navigator-but-name">Навигатор раздела
                  </span>
                  <i class="glyphicon glyphicon-triangle-bottom"></i>
                </a>

                <ul class="dropdown-menu">
                    {% if subsections %}
                      {% for subsection in subsections %}
                        {% if subsection.section == section %}

                          <!-- Display Subection name -->
                          <li>
                              <a href="/subsection/{{ subsection.id }}">{{ chapter.order_num }}.{{ section.order_num }}.{{ subsection.order_num }}.   {{ subsection.name }}</a>
                          </li>
                          <li class="divider"></li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                </ul>
              </li>
            </ul>
          </div> 
        </div>
        

        <div class="row">
          <div class="advert-720-img col-md-12 col-sm-12 col-xs-12">
            <img class="img-rounded" src="{% static "img/advert/728x90.jpg" %}"  alt="Advert">
          </div> <!-- advert-720-img -->

          <div class="row">
            <h2 class="col-md-9 col-sm-3 col-xs-12">{{ chapter.order_num }}.{{ section.order_num }}.{{ subsection.order_num }}.   {{ subsection.name }}
            </h2>
            {% if is_editor %}
              <div class="col-md-3 col-sm-3 col-xs-12">
                  <a href="/subsection_edit/{{ subsection.id }}" class="btn btn-primary">Редактировать страницу</a>
              </div>
            {% endif %}
          </div>
        </div>

        <div class=" row">
          {% for cell in elements_list %}
            {% if forloop.counter|divisibleby:"2" %}
            {% else %}
              <div class=" row">
            {% endif %}
                <div  class="info col-md-6 col-sm-12 col-xs-12">
                  {% for element in cell %}
                    {% if element.el_type == 'FIGU' %}
                      <dir class="manual-img img-box leftimg {{ element.im_type }}">
                        <img src="{{ MEDIA_URL }}/media/{{ element.image }}" alt="Рис. {{ element.image_num }}" />
                      </dir>
                      <dir class="signature-box">
                        <p class="signature">
                            Рис. {{ element.image_num }}.  
                            {{ element.text }}                    
                        </p>
                    {% elif element.el_type == 'PARA' %}
                        <p class="description">
                            {{ element.text }}
                        </p>
                    {% elif element.el_type == 'HINT' %}
                        <p class="hint">
                            СОВЕТ: 
                            {{ element.text }}
                        </p>
                      </dir>
                    {% endif %}
                  {% endfor %}                
                </div>
            {% if forloop.counter|divisibleby:"2" %}
              </div>
            {% endif %}
          {% endfor %}
        </div>


{% block content %}{% endblock content %}          


<!--==== end of Main content block ====-->
{% endblock all-main %}

