{% extends 'base.html' %}
{% load staticfiles %}

{% block all-main %}
        <div  class="under_construction">
            <h1>{{ title }}</h1>
          <img src="{% static "img/under-construction_1200.jpg" %}" />
        </div>
{% endblock all-main %}


