{% extends 'base.html' %}
{% load staticfiles %}

{% block all-main %}

  <h1>
    Добро пожаловать, пользователь {{ user.username }}
  </h1>
  <div>Ваши регистрационные данные:</div>
  <div>
    <span>Логин: </span><span>{{ user.username }}</span>
  </div>
  <div>
    <span>email: </span><span>{{ user.email }}</span>
    
  </div>
  


  
{% endblock all-main %}


